.container {
    width: 900px;
    margin: 70px auto;
}

img{
    max-width: 100%;
    height: 500px;
    filter: grayscale(100%);
    filter: blur(5px);
    filter: brightness(200%);
    filter: contrast(50%);
    filter: drop-shadow(10px 10 px 5px red);
    filter: hue-rotate(180deg);
    filter: invert(100%);
    filter: opacity(200%);
    filter: saturate(200%);
    filter: sepia(100%);
    filter: grayscale(100%) blur(2px);
    filter: none;
}